%h1 Hello#index
%p Find me in app/views/hello/index.html.erb
/ Example single danger button
.btn-group
  %button.btn.btn-danger.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
    Action
  %ul.dropdown-menu
    %li
      %a.dropdown-item{:href => "#"} Action
    %li
      %a.dropdown-item{:href => "#"} Another action
    %li
      %a.dropdown-item{:href => "#"} Something else here
    %li
      %hr.dropdown-divider/
    %li
      %a.dropdown-item{:href => "#"} Separated link
